* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif !important;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EAF2FC;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #333;
    margin: 20px 0;
    text-align:center;
    padding-bottom:10px;
}

.busca {
    display: flex;
    width: 1250px;
}
.busca #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background:#ccc;
    color:#333;
}
.busca button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: #555;
    color: #EAF2FC;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.busca button:hover {
    background-color: #444;
}

.resultado {
    width: 1250px;
    display: block;
    border: 1px solid #444;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #34495E;
}

.titulo {
    width: 100%;
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

.info {
    display: flex;
    width: 100%;
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .vento {
    flex: 1;
    text-align: center;
}
.tempTitulo,
.ventoTitulo {
    color: #CCC;
    font-size: 16px;
    margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
    color: #FFF;
    font-size: 60px;
    font-weight: bold;
}
.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}
.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}
.ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
}
.ventoPonto {
    width: 15px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
}

.enter {
    text-align:center;
    color: #333;
    font-size: 30px;
}

.warning {
    padding-top:20px;
    text-align:center;
    color: #333;
    font-size: 20px;
}

footer {
    text-align:center;
    color: #333;
    font-size: 20px;
    margin-top:80px;
}

footer a {
    text-decoration:none;
    color:#000;
    border-bottom:1px solid #CCC;
    border-bottom-width:3px;
    margin-left:5px !important;
}

footer .arrow--area {
	display: flex;
	justify-content: center;
}

@keyframes arrow {
	0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -5px;
    }
    30% {
        margin-top: 0px;
    }
    40% {
        margin-top: -3px;
    }
    50% {
        margin-top: 0px;
    }
    100% {
        margin-top: 0px;
    }
}

footer .arrow {
    margin:0px 5px;
	animation-name: arrow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}